---
interface Props {
  lang: "fi" | "en";
}

const { lang } = Astro.props;

const linksMap = {
  fi: {
    logo: { text: "Kameraseura", href: "/" },
    lang: { text: "English", href: "/en/" },
    pages: [
      { text: "Jäsenyys", href: "/" },
      { text: "Pimiö", href: "/pimio/" },
      { text: "Ihmiset", href: "/ihmiset/" },
      { text: "Linkit", href: "/linkit/" },
    ],
  },

  en: {
    logo: { text: "Camera Club", href: "/en/" },
    lang: { text: "Suomi", href: "/" },
    pages: [
      { text: "Membership", href: "/en/" },
      { text: "Darkroom", href: "/en/darkroom/" },
      { text: "People", href: "/en/people/" },
      { text: "Links", href: "/en/links" },
    ],
  },
};

const links = linksMap[lang];

const isActive = (href: string) => href === Astro.url.pathname;
---

<header>
  <div class="brand">{links.logo.text} Vastavalo</div>
  <nav>
    {
      links.pages.map((link) => (
        <a href={link.href} class:list={[{ active: isActive(link.href) }]}>
          {link.text}
        </a>
      ))
    }
    <a href={links.lang.href}>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 21l5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 016-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 01-3.827-5.802"
        ></path>
      </svg>
      {links.lang.text}
    </a>
  </nav>
</header>
